@model IEnumerable<ChakriDaw.ViewModels.JobPost>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/shared/ManagerLayout.cshtml";
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Manager Panel - ChakriChai</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/Admin")
</head>
<body>

    <h3>Welcome, Manager!</h3>
    
</body>
@Scripts.Render("~/bundles/bootstrap")
</html>
