body {
    width: 100%;
    height: 100vh;
}

.wrapper {
    display: flex;
}

.sidebar {
    width: 260px;
    background: #313A46;
}

.main {
    width: 100%;
    height: 100vh;
    color: #313a46;
}

.main-content {
    background: #F5F6FA;
}

.sidebar a {
    color: #bec4c8;
    transition: color .2s ease-out;
}
    .sidebar a:hover {
        color: #ebeef1;
    }

.mainlink {
    color: #313a46;
    transition: color .2s ease-out;
}
    .mainlink:hover {
        color: #717984;
    }

.cicon {
    width: 23px;
    height: 23px;
}

.text-success {
    color: #0acf97 !important;
}
